<body>
    <nav class="navbar navbar-default navbar-fixed-top mynav">
      <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand mylogo" href="#">AFX DANCE</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="#about">About</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin"><button class="btn login">Log In</button></a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
    </nav>
    <div class="panel1">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1>AFX AUDITION SITE</h1><br>
                    <a href="/admin"><btn class="btn btn-default home-btn">Admin Login</btn></a> &nbsp;  &nbsp; <a href="/auditionform"><btn class="btn btn-default home-btn">Signup Form</btn></a>
                </div>    
            </div>
        </div>
    </div>
    <a name="about"></a>    
    <div class="panel2">
         <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <%= image_tag("afxlogo.png", :class => "img-responsive center-block") %>
                    <br><br>
                    <h3>About</h3><br>
                    <p class="lead text-justify">
                        AFX Dance is a hip hop dance group founded by Ping Quach, Geoffrey Chen, and Rosemary Hua in Fall 2011 to give dancers an opportunity to grow. Our name, [A]spirations, [F]amily, e[X]perience reflects our philosophy of creating a family environment for dancers to build up the confidence and support to reach new heights. With Competition (competitive advanced), Project (intermediate-advanced), and Training (beginner) levels, we hope to provide dancers, choreographers, and directors with new, fulfilling experiences that will empower them to pass on our philosophies to the greater community.    
                    </p>
                    <p class="lead text-justify">
                        AFX Dance comprises of multiple Project and Training level teams along with our organization's own competitive hip-hop dance team (AFX Competition).
                    </p>
                </div>    
            </div>
        </div>
    </div>
</body>