<body>
    <nav class="navbar navbar-default navbar-fixed-top mynav">
      <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand mylogo" href="/#">AFX DANCE</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/#about">About</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin"><button class="btn login">Log In</button></a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
    </nav>
    

    <div class="panel-howto">
        <div class="container">
            <div class="row text-left">
                <div class="col-sm-8">
                    <h1>How To Use This Site</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, pro te oblique delicatissimi. Eu eos stet admodum, mea no amet magna, modo verterem mel ea. Ea partem ceteros contentiones pro.</p>
        
                </div>
            
            </div>
        </div>
    </div>
    
    
    
    
    <div class="panel-howto2">
         <div class="container">
            <div class="row text-left">
                <div class="col-sm-2">
                    
                    <ul class="nav nav-pills nav-stacked">
                      <h4>Table of Contents</h4>
                      <li role="presentation"><a href="#">text</a></li>
                      <li role="presentation"><a href="#">text</a></li>
                    </ul>
                </div>
                <div class="col-sm-10">
                    <h2>blahblah</h2><br>
                    <p class="lead">
                        Nisl liber possim ius id. Ius no labores maiestatis. Mea nemore quaeque mentitum an, te accusata sensibus convenire mei, vim modo enim maluisset ut. Id novum malorum deterruisset his. Erat clita nostro vel ne. Mei no falli labores, ad dicam nullam voluptatibus pro, usu virtute splendide cu.

                    </p>
                    <p class="lead">
                        Nisl liber possim ius id. Ius no labores maiestatis. Mea nemore quaeque mentitum an, te accusata sensibus convenire mei, vim modo enim maluisset ut. Id novum malorum deterruisset his. Erat clita nostro vel ne. Mei no falli labores, ad dicam nullam voluptatibus pro, usu virtute splendide cu.
                    </p>
                    <p class="lead">
                        Nisl liber possim ius id. Ius no labores maiestatis. Mea nemore quaeque mentitum an, te accusata sensibus convenire mei, vim modo enim maluisset ut. Id novum malorum deterruisset his. Erat clita nostro vel ne. Mei no falli labores, ad dicam nullam voluptatibus pro, usu virtute splendide cu.

                    </p>
                    
                    <h2>blahblah</h2><br>
                    <p class="lead">
                        Nisl liber possim ius id. Ius no labores maiestatis. Mea nemore quaeque mentitum an, te accusata sensibus convenire mei, vim modo enim maluisset ut. Id novum malorum deterruisset his. Erat clita nostro vel ne. Mei no falli labores, ad dicam nullam voluptatibus pro, usu virtute splendide cu.

                    </p>
                    <p class="lead">
                        Nisl liber possim ius id. Ius no labores maiestatis. Mea nemore quaeque mentitum an, te accusata sensibus convenire mei, vim modo enim maluisset ut. Id novum malorum deterruisset his. Erat clita nostro vel ne. Mei no falli labores, ad dicam nullam voluptatibus pro, usu virtute splendide cu.
                    </p>
                    <p class="lead">
                        Nisl liber possim ius id. Ius no labores maiestatis. Mea nemore quaeque mentitum an, te accusata sensibus convenire mei, vim modo enim maluisset ut. Id novum malorum deterruisset his. Erat clita nostro vel ne. Mei no falli labores, ad dicam nullam voluptatibus pro, usu virtute splendide cu.

                    </p>
                    
                    
                </div>    
            </div>
        </div>
    </div>
    
    
    
    

