<body>
    <nav class="navbar navbar-default navbar-fixed-top mynav">
      <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand mylogo" href="/#">AFX DANCE</a>
            </div>
          </div>
    </nav>
    

    <div class="panel-howto">
        <div class="container">
            <div class="row text-left">
                <div class="col-sm-8">
                    <h1>How To Use This Site</h1>
                    <p class="lead">Here is a guide to using the site. Please pay extra attention to parts labeled with your particular position.</p>
                    <p> (D = Directors, B = Board Members/Exec) </p>
                    <p>Please read through carefully if this is your first time using the site as it will help with minimizing issues! NOTE: We have a weird bug with the formatting so if the site looks funny just refresh it.</p>
                    <p>If you have questions please contact Albert Weng: albert.weng13@gmail.com (or message him on facebook)</p>
                </div>
            
            </div>
        </div>
    </div>
    
    
    
    
    <div class="panel-howto2">
         <div class="container">
            <div class="row text-left">
                <div class="col-sm-2">
                    
                    <ul class="nav nav-pills nav-stacked">
                      <h4>Table of Contents</h4>
                      <li role="presentation"><a href="#Login/Account Access">Login/Account Access (D,B)</a></li>
                      <li role="presentation"><a href="#Website Navigation">Website Navigation (D,B)</a></li>
                      <li role="presentation"><a href="#Website Process">Website Process (D,B)</a></li>
                      <li role="presentation"><a href="#Choosing Dancers/Dancer Profiles">Choosing Dancers/Dancer Profiles (D)</a></li>
                      <li role="presentation"><a href="#Roster Locking">Roster Locking (D,B)</a></li>
                      <li role="presentation"><a href="#Dancer Conflicts">Dancer Conflicts (D)</a></li>
                      <li role="presentation"><a href="#Casting Groups">Casting Groups (B)</a></li>
                      <li role="presentation"><a href="#">Exporting to CSV (B)</a></li>
                    </ul>
                </div>
                <div class="col-sm-10">
                    <div id = "Login/Account Access">
                    <h1>Login/Account Access (D,B)</h1><br>
                    <p class="lead">
                       For login we are using the Active Admin system, in which you would click the log in button from the homepage.
                       Afterwards you will be on the Dashboard.
                    </p>
                    <p class="lead">
                        You will have ONE account per TEAM. (directors of that team will share the same account). Your user name will be your team name followed by afx.com (i.e. myteamname@afx.com). Your password will be given to you. If you wish to change your password please contact Board.
                    </p>
                    </div>
                    
                    <div id = "Website Navigation">
                    <h1>Website Navigation (D,B)</h1><br>
                    <p class="lead">
                        The various aspects of the site is all located on the navigation bar on the top of the page.
                    </p>
                    <p class = "lead">
                        For Directors you should only be concerned with the following tabs: Casting Groups, Dancers, Teams
                    </div>
                    <p class = "lead">
                        For Board you should only be concerned with the following tabs: Admin Users, Casting Groups
                    </div>
                    
                    <div id = "Website Process">
                    <h1>Website Process (D,B)</h1><br>
                    <p class="lead">
                        The usage of the site is broken down into 5 parts per semester:
                        </p>
                        <p>1.Casting Group Set-up 2.Project Selection 3.Training Selection 4.Final Randomization 5.Downloading CSVs and resetting the semester.
                    </p>
                    <p class="lead">
                        <b>1. Casting Group Set-up:</b> This should be done during the Audition Process. During Auditions a Board member will be entering the Casting Group Numbers, seperated by commas, with a empty video link. After all the Casting Videos are recorded, the Board member then goes through each Casting Group and adds the Video Link to it.
                    </p>
                    <p class="lead">
                        <b>2. Project Selection:</b> Then the Project Team directors begin choosing their dancers. After choosing the entire roster, Project Teams will LOCK their teams and will not touch it anymore. PLEASE DO NOT UNLOCK YOUR ROSTER AFTER LOCKING. If you really need to change something you can do so but make sure to tell all other directors. Training Teams CANNOT choose when any Project Roster is unlocked.
                    </p>
                    <p class="lead">
                        <b>3. Training Selection:</b> After all Project Teams are locked, Training Team directors can begin choosing their dancers. After choosing the entire roster, please LOCK your teams for the next step.
                    </p>
                    <p class="lead">
                        <b>4. Final Randomization:</b> After all teams are locked, a Board Member will hit the Final Randomization Button in the Dancers Tab and it will sort all the remaining dancers into training teams.
                    </p>
                    <p class="lead">
                        <b>5. Downloading CSVs and resetting the semester:</b> Then Board and Directors can download the CSV files of the rosters. This is located in the Teams Tab, if you view your team you can Print CSV for that Team. This is your roster. After EVERYTHING (Dancers/Casting Groups/Teams) are all saved, the Exec can wipe the entire database by the New Semester Button in the Admin Users Tab.
                    </p>
                    </div>
                    
                    <div id = "Choosing Dancers/Dancer Profiles">
                    <h1>Choosing Dancers/Dancer Profiles (D)</h1><br>
                    <p class="lead">
                        Dancer Selection is done in the Dancers Tab. You can either simply add or remove dancers by clicking Add/Remove OR you can select multiple at once and select the appropriate Batch Action.
                        You can view each Dancer's profile and see information, casting group video, and team offers. You can view your team by going to the Team Tab and viewing your team.
                    </p>
                    <p><b>If you cannot add a dancer, this might be because:</b><br>
        				1.) This person signed up, but did not audition. (There are some duplicates in the dancer list. You might want to make sure this is not a duplicate.)
        				<br>
        				2.) You locked your roster.
        				<br>
        				3.) You are a training team director and project teams are still choosing dancers (you can see the status on the home page)
        				<br>
        				4.) You are a training team director and this dancer has already been chosen by two project teams.
        				<br>
        
        			<b>If you cannot remove a dancer, this might be because:</b><br>
        			1.) This dancer is not on your team.
        			<br>
        			2.) You locked your roster.
        	    	</p>
                    </div>
                    
                    <div id = "Roster Locking">
                    <h1>Roster Locking (D,B)</h1><br>
                    <p class="lead">
                        After you are done choosing LOCK your roster by going to your respective team in the Team tab. Here you will see a Toggle Team Lock, which will lock/unlock your team. Please do NOT unlock your roster so make sure you are ready upon locking. There can be some exceptions but keep this to a minimum.         
                    </p>
                    </div>
                    
                    <div id = "Dancer Conflicts">
                    <h1>Dancer Conflicts (D)</h1><br>
                    <p class="lead">
                        A "conflict" refers to when a dancer is wanted by more than two teams. All conflicts on your team must be solved if you want to lock your roster. To see conflicted Dancers go to the Dancer Tab and filter by "Conflicted."
                    </p>
                    <p class="lead">
                        A conflict where a dancer is wanted by one project team and more than two training teams <b>only counts as a conflict for the training teams</b>, NOT the project team.
                    </p>
                    <p class="lead">
                        If you are the <b>exec</b>, when all training teams have locked their rosters and there are no conflicts, you will see a button allowing you to randomize the unchosen dancers to the training team rosters.
                    </p>
                    </div>
                    
                    <div id = "Casting Groups">
                    <h1>Casting Groups (B)</h1><br>
                    <p class="lead">
                        For Board Members you will be creating the casting groups during Auditions. Please enter them seperate by commas and <b>NO SPACES</b>. (i.e. 1,2,3)
                    </p>
                    <p class="lead">
                        Here you can view casting groups videos through an embedded Youtube Link. 
                    </p>
                    </div>
                    
                    <div id = "Exporting to CSV">
                    <h1>Exporting to CSV (B)</h1><br>
                    <p class="lead">
                         A CSV file is a a text file that can be easily imported to Google Drive spreadsheets. You can export the list of all dancers or the roster of a team to a CSV file. 
                         To download a specific team's roster, you go to the Team tab, view the corresponding team, and then select the Print CSV for Team.
                         To download all the data on a tab, you can either click the "CSV" on the bottom left corner next to Download.
                         

                    </p>
                    <p class="lead">
        				<br>
        				<br>To import a CSV file to Google Drive spreadsheets:
        				<br>
        				1. Open a Google Drive spreadsheet and under 'File' in the top left corner, choose 'Import'.
        				<br>
        				2. Then choose 'Upload', and upload the CSV file you just downloaded from this site.
        				<br>
        				3. Next it will give you some options about importing the file. You probably want 'Import action' to be 'Create new spreadsheet'*. For 'Separator character', select 'Detect automatically'.
        				<br>
        				4. Then choose 'Import'. This will create a spreadsheet where you can view dancer information.</p>
        
        				*"Insert new sheet" will insert a new tab in your current sheet, if you'd like to download multiple rosters.

                    </p>
                    <p class="lead">
                        Make sure you finish downloading all CSVs before wiping the semester!
                    </p>
                    </div>
                    
                </div>    
            </div>
        </div>
    </div>
    
    
    
    

